* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, main, footer { 
    padding: 1rem; 
}

#header-container, #footer-container { 
    background-color: #ffc328;
    width: 100%;
    height: auto;
}
header, footer { 
    background-color: #ffc328;
    color: #414142;
    margin: 0 auto;
    max-width: 1000px;
}
header { 
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    align-items: center;
    
}
.brand-name span { 
    display: flex;
    font-size: 25px;
    font-weight: bold;
   
}
/* Styling the toggle button */
#toggle-btn::before { 
    content: "\2630";
}
#toggle-btn { 
    font-size: 25px;
    border: none;
    /* background-color: transparent; */
    display: flex;
    justify-self: right;
}
#toggle-btn:hover { 
    cursor: pointer;
    border: none;
}

/* Styling the large menu */

.nav-menu { 
    display: none;
}


/* Styling the mobile menu */
.mobile-menu { 
    list-style-type: none;
    /* padding: 1rem;  */
    background-color: #ffc328;
}
.mobile-menu li { 
    display: flex;
    flex-direction: column;
    display: none;
}

/* Adding a content to the button before and after click */

header #toggle-btn.activate::before { 
    content: "X";
    /* border-bottom: 2px solid rgb(255, 255, 0); */
}
.activate li { 
    display: block;
} 

/* .mobile-menu li a { 
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    color: #414142;
} */
.mobile-menu li a:hover { 
    background-color: #414142;
    color: #ffc328;
    border-radius: 5px;
}

main { 
    font-size: 16px;
    max-width: 1000px;
    margin: 0 auto;
}
h1 { 
    color: #414142;
    margin-bottom: 0.5rem;
}
button { 
    background-color: #ffc328;
    color:#636466;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    border: none;
}
button:hover { 
    cursor: pointer;
}
main #sign-up { 
    display: grid; 
    grid-template-columns: auto 1fr;
    column-gap: 5px;
}

main section { 
    border: 2px solid #414142;
    /* max-width: 30%; */
    /* padding: 1rem; */
    border-radius: 10px;
    overflow: hidden;
}
section form { 
    width: 100%;
}

section h2 {
    background-color: #ffc328;
    padding: 1rem;
    color: #414142;

}
section a { 
    text-decoration: underline;
    color: #414142;
    cursor: auto;
}
section p a { 
    cursor: pointer;
}
section label { 
    display: block;
    margin: 1rem 0;
    font-size: 18px;
    font-weight: 600;
    color: #636466;
    margin: 1rem;
    
}
section input { 
    display: block;
    width: 100%;
    padding: 0.5rem;
    /* margin: 0.5rem; */
}

section button { 
    padding: .75rem;
    /* margin: 0 auto; */
    display: flex;
    text-align: center;
    justify-content: center;
    justify-self: center;
    width: 94%;
    background-color: #ffc328;
    color: #414142;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

section button:hover {
    cursor: pointer;
}
section p { 
    /* padding: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;;
    margin: 0.5rem 0;
    line-height: 20px;
    font-size: 18px; 
    color: #636466;
}


footer p { 
    font-size: 18px;
    color: #414142;
    font-weight: 700;
}

@media screen and (max-width: 768px) { 
    main #sign-up { 
        display: grid;
        grid-template-columns: 1fr;
    }
    main section { 
        margin: 1rem 0;
    }
}
@media screen and (min-width: 767px){
    #toggle-btn {
        display: none;
    }
    .nav-menu { 
        display: flex;
        justify-content: right;
    }
    .nav-menu li { 
        list-style: none;
    }
    }
    .nav-menu li a { 
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 20px;
    /* font-weight: 1000; */
    color: #414142;
}
.nav-menu li a:hover { 
    background-color: #414142;
    color: #ffc328;
    border-radius: 5px;

}
