/* General Styling */
* { 
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}
/* Styling the header and all its content*/

header, #mobile-menu, main, footer { 
    max-width: 900px;
    padding: 1rem; 
    margin: 0 auto;
}

header { 
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: darkblue;
    justify-content: space-around;
}

/* Display the div in the header with the logo image and business name as flex */
.logo-img { 
    display: flex;
    /* padding: 1rem;  */
}
.logo-img img { 
    width: 150px;
    height: auto;
    display: none;
}
.logo-img h1 {  
    align-self: center;
    /* padding: 0.5rem; */
    font-size: 1rem;
    font-weight: bold;
    color: #ffff00;
    font-family: "Times New Roman", sans-serif;
    text-transform: uppercase;
}

header nav { 
    /* background-color: #eee; */
    align-content: center;
    justify-items: end;
    justify-content: end;
    
}
header nav ul { 
    border-radius: 10px;
    box-shadow: 0 0 12px black, inset 0 0 12px darkblue;
    overflow: hidden;
}

/* Hide the navigation list in the small menu.
More styling for this is done in the large css called large.css file */

header nav ul li { 
    display: none;
}

/* styling the drop-down menu button */
header #btn { 
    background-color: transparent;
    color: yellow;
    border: none;
    /* border: 2px solid black; */
    font-size: 20px; 
    line-height: 25px;
    width: 30px;
}

header nav button:hover { 
    cursor: pointer;
}

header nav a { 
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
header nav a:hover { 
    background-color: rgb(0, 255, 255);
    color: #000080;
    box-shadow: 0 0 12px black, inset 0 0 12px;
    font-weight: 700;
}
/* End of styling header content */

/* Styling the mobile-menu list */

#mobile-menu { 
    /* display: block; */
    
    /* background-color: #eee; */
    background-color: #000080;
    /* color: black;
     */
     color: yellow;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 0;
    /* box-shadow: 0 0 12px black, inset 0 0 12px darkblue; */
    overflow: hidden;
}
#mobile-menu.activate { 
    border-top: 2px solid rgb(255, 255, 255, 0.2);
}

 #mobile-menu li { 
    display: none;
    list-style: none;
    flex: 1 1 100%;
} 
 /* Comment out the styling the hide the menu so now it's showing */

#mobile-menu a { 
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    /* color: black; */
    color: yellow;
    padding: 1rem;
    text-decoration: none;
}

#mobile-menu a:hover { 
    background-color: rgb(255, 255, 255, 0.2);
    /* background-color: rgb(0, 0, 0, 0.5); */
    /* color: #000080; */
    /* box-shadow: 0 0 12px black, inset 0 0 12px; */
    font-weight: 700;
}

#mobile-menu a.active{ 
    background-color: rgba(0,0,0, 0.5);
}


/* Adding a content to the button before and after click */
header #btn::before { 
    content: "\2630";
}
header #btn.activate::before { 
    content: "X";
}
#drop-down .activate li { 
    display: block;
} 
 /* Comment out the drop-down that show the menu */


main { 
    background-color: lightgray;
    /* min-height: 1000px; */
}

main img { 
    width: 100%;
    height: auto;
}

main .menu-btn {
    display: grid;
    grid-template-columns: 90px 90px;
    column-gap: 5px;
    justify-content: center;
    
}
main .menu-btn button {
    border: none;
    background-color: #eee;
    padding: 0.5rem;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 1rem;
}

main .menu-btn button:hover {
    background-color: white;
    color: black;
}
    
main .grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    /* background-color: red; */
    /* background-color: white; */
    /* margin-top: 1rem 0; */
}
.grid section { 
    background-color: white;
    box-shadow: 0 0 10px #000;
    text-align: center;
    border-radius: 5px;
}

main .gird section img { 
    width: 100%; 
    height: 150px;
    border-radius: 12px;
}
main hr { 
    margin-bottom: 0.5rem;
}


/* List and Grid View Implementation */

.grid {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    /* background-color: red; */
    /* background-color: white; */
    /* margin-top: 1rem 0; */
}

.grid section {
	background-color: white;
    box-shadow: 0 0 10px #000;
    text-align: center;
    overflow: hidden;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
} 

.list {
	display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
	flex-direction: column;
    
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	/* font-family: Roboto, Helvetica, sans-serif; */
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: 16px;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}


footer { 
    display: grid; 
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: darkblue;
    color: yellow;
    text-align: center;
}
footer p {
    margin: 0.5rem 0;
    font-size: larger;
}

#copyright { 
    color: white; 
}
.active { 
    background-color: #000080;
    color: yellow;
}